Details

<div><label>Edit Author FName</label> {{input type="text" value=model.fname}}</div>
<div><label>Edit Author LName</label> {{input type="text" value=model.lname}}</div>
<div><button {{action 'editAuthor' model}}>edit </button> </div>