
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <ul class="nav nav-pills ">

                <li role="presentation" >{{#link-to 'posts'}}posts{{/link-to}}</li>
                <li role="presentation">{{#link-to 'authors'}}Authors{{/link-to}}</li>
                <li role="presentation">{{#link-to 'testposts'}}TestPosts{{/link-to}}</li>
            </ul>
        </div>
    </div>
</nav>


{{outlet}}


