<div class="row">
    <div class="col-md-6">
        <ul>

          {{#each mod in model}}

              <li>
                {{#link-to 'authors.author' mod}} {{mod.fname}} {{mod.lname}} {{/link-to}}

              </li>

          {{/each}}
        </ul>
      {{outlet}}
    </div>


</div>